<footer id="footer" class="footer">
  <div class="footer__shoes">
    <div class="container footer__shoes-container">
      <img
        class="footer__shoes-logo"
        data-src="/img/wecan-light.svg"
        alt="WeCan - Your Visual Design Needs, Fulfilled."
      />
      <div class="footer__shoes-link">
        <a href="javascript:void:(0)">Contact Us</a>
        <a href="javascript:void:(0)">Term of Service</a>
        <a href="javascript:void:(0)">Privacy Policy</a>
      </div>
      <span class="footer__shoes-right">©2020 WeCan. All Rights Reserved.</span>
    </div>
  </div>
</footer>
