{% extends "layout.html" %}

{% block content %}

<div id="home">
	<div class="wrap-title">
		<div class="logo"><img src="./img/_oranamen/bitmap.png"></div>	
		<div class="title">
			<h1>Creative <br> <span>Digital Studio</span></h1>
		</div>
	</div>
	<div class="scrolldown">
        <a href="#aboutus">
            <span>
                Scroll Down
            </span>
            <div class='icon-scroll'></div>
        </a>
	</div>
</div>

<div id="aboutus">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 title">
				<h1>We<br><span>Are</span></h1>
			</div>
			<div class="col-lg-3 consisting">
				Consisting of:
				<ul>
					<li>Writers</li>
					<li>Designers</li>
					<li>Coders</li>
					<li>Strategists</li>
					<li>Producers</li>
				</ul>
			</div>
			<div class="col-lg-6 article">
				<p>We take interdisciplinary and collaborative approach to answer clients’ goals and create meaningful interactive experiences that resonate with the audience in digital.</p>
				<div class="visi">
					<h4>Our Vision</h4>
					<p>quality over quantity and have fun doing it.</p>
				</div>
				<p>We accept only a handful of projects to ensure focus, with all the details covered and we work very closely with you to discover your vision and make it happen, everyone involved in crafting success.</p>
			</div>
		</div>
	</div>
</div>
<div class="quotes">
	<h3>“We take serious pride in our work, enjoy ourselves and would love to take you on a journey.”</h3>
</div>
<div id="services">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 title">
				<h1>We<br><span>Do</span></h1>
			</div>
			<div class="col-lg-8 content">
				<table>
					<tr>
						<td>
							<span>Strategy</span>
							<ul>
								<li>Integrated Digital Marketing Strategy</li>
								<li>Creative Direction for Digital Campaign</li>
								<li>Social Media Strategy</li>
								<li>UX Strategy for Website & Apps</li>
								<li>Paid Media Placement Strategy</li>
							</ul>
						</td>
						<td>
							<img src="./img/_oranamen/bitmap(2).png"><br>
							<span>Social Media</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="./img/_oranamen/bitmap(3).png"><br>
							<span>Website & Apps</span>
						</td>
						<td>
							<img src="./img/_oranamen/bitmap(1).png"><br>
							<span>Paid Media</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="ourwork">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 title">
				<h1>We<br><span>Work With</span></h1>
			</div>
			<div class="col-lg-4 content">
				<div class="wrapimg"><img src="./img/_oranamen/bitmap(4).png"></div>
				<h4>Agency</h4>
				<p>To turn communication strategy into brilliantly executed digital campaign.</p>
			</div>
			<div class="col-lg-4 content">
				<div class="wrapimg"><img src="./img/_oranamen/bitmap(5).png"></div>
				<h4>Brands</h4>
				<p>To implement marketing strategy in digital and achieve business objectives</p>
			</div>
		</div>
	</div>
</div>
<div id="portfolio">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center title">
				Our<br>
				<h1>Projects <span>Portfolio</span></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 webdev">
				<div class="cover"></div>
				<div class="content">
					<h2>Website<br>Development</h2>
					<a href="#" class="btn btn-light btn-orange">Check out</a>
				</div>
			</div>
			<div class="col-lg-6 contentproduction">
				<div class="cover"></div>
				<div class="content">
					<h2>Content<br>Production</h2>
					<a href="#" class="btn btn-light btn-blue">Check out</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-5">
				<h4 class="pb-3">Our Studio</h4>
				<div class="row border-bottom py-3">
					<div class="col-sm-1 icon"><i class="fa fa-map-marker"></i></div>
					<div class="col">
						Mendawai 1 No. 45 Kebayoran Baru, Jakarta, Indonesia 12130
					</div>
				</div>
				<div class="row border-bottom py-3">
					<div class="col-sm-1 icon"><i class="fa fa-phone"></i></div>
					<div class="col">
						0819 3265 7672
					</div>
				</div>
				<div class="row border-bottom py-3">
					<div class="col-sm-1 icon"><i class="fa fa-envelope"></i></div>
					<div class="col">
						Rangga@Trys.Co
					</div>
				</div>
			</div>
			<div class="col-md-8 email">
				<p>Yes, strangely enough we've had a couple of people ask how they can contact us. So if you're interested in discussing project or simply want to say hi you can choose any methods we provide below.</p>
				<h4>Contact Us</h4>
				<form>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<input type="text" name="name" placeholder="Your Name" class="form-control">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<input type="email" name="name" placeholder="Your Email" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group">
						<textarea rows="10" class="form-control" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-light">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}