.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  @media(min-width: 641px) {
    
  }
  &__title {
    margin-bottom: 40px;
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
    z-index: -1;
  }
  &__action {
    display: flex;
    flex-wrap: wrap;
  }
}

.experience {
  background-color: #e3f3fd;
  padding: 60px 0;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    height: 100vh;
  }
  p {
    color: rgba(0, 0, 0, 0.6);
    strong {
      color: #000;
    }
  }
  &__before {
    display: flex;
    &.image {
      img {
        max-width: 100%;
        @media (max-width: 767px) {
          justify-content: center;
          max-width: 80%;
          margin: 0 auto;
        }
      }
    }
    &.content {
      flex-direction: column;
      justify-content: center;
      h3 {
        color: #eb5757;
        position: relative;
        width: max-content;
        line-height: 1;
        &::after {
          content: "";
          display: block;
          background-image: url(../img/experience-before-emot.svg);
          background-size: contain;
          width: 31px;
          height: 31px;
          position: absolute;
          bottom: 0;
          right: -40px;
        }
      }
      @media (max-width: 767px) {
        margin-bottom: 50px;
      }
    }
  }
  &__after {
    display: flex;
    flex-direction: row-reverse;
    &.image {
      img {
        max-width: 100%;
        @media (max-width: 767px) {
          justify-content: center;
          max-width: 80%;
          margin: 0 auto;
        }
      }
    }
    &.content {
      flex-direction: column;
      justify-content: center;
      h3 {
        color: #27ae60;
        position: relative;
        width: max-content;
        line-height: 1;
        &::after {
          content: "";
          display: block;
          background-image: url(../img/experience-after-emot.svg);
          background-size: contain;
          width: 31px;
          height: 31px;
          position: absolute;
          bottom: 0;
          right: -40px;
        }
      }
      @media (max-width: 767px) {
        margin-top: 30px;
      }
    }
  }
}

.how-it-work {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: calc(80px - 30px);
  &__col {
    margin-bottom: 30px;
  }
  h2 {
    margin-bottom: 40px;
  }
  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .how-it-work__question {
      margin-right: auto;
      margin-bottom: 20px;
      max-width: 100%;
      @media (min-width: 640px) {
        margin-left: 20px;
      }
    }
    .how-it-work__answer {
      margin-left: auto;
      max-width: 100%;
      @media (min-width: 640px) {
        margin-right: 20px;
      }
    }
  }
  &__card {
    height: 100%;
    border-radius: 10px;
    background-color: #f5f6f8;
    padding: 35px 35px 0 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 20px;
      font-weight: bold;
      color: #3e495a;
    }
    p {
      color: rgba($color: #000000, $alpha: 0.65);
      font-size: 14px;
    }
    img {
      height: 250px;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  @media (min-width: 1024px) {
    min-height: 100vh;
  }
}

.overflow-container {
  position: relative;
}

.design-sample {
  padding: 80px 0;
  background-color: #e3f3fd;
}

.pricing {
  padding: 80px 0;
  background-color: #fff;
  @media (min-width: 1024px) {
    box-shadow: 0px 34px 148px rgba(21, 25, 67, 0.06);
    padding-bottom: 400px;
  }
  &__container {
    position: relative;
    margin: 0 auto;
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
    @media(min-width: 1440px) {
      max-width: 1300px;
    }
  }
  &__head {
    display: flex;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    &-left {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      @media (min-width: 992px) {
        text-align: left;
        width: 43%;
        margin-bottom: 0;
      }
    }
    &-right {
      &-wrapper {
        padding: 20px 30px;
        border-radius: 15px;
        background-color: #f8f8f8;
      }
    }
  }
  &__select__container {
    width: max-content;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    .arrow-down {
      display: inline-block;
      width: max-content;
      border: solid #333333;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg) translate(0, -50%);
      -webkit-transform: rotate(45deg) translate(0, -50%);
      position: absolute;
      top: 42%;
      right: 14px;
    }
  }
  &__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: max-content;
    padding: 5px 10px;
    padding-right: 40px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    color: #333333;
    margin-left: 10px;
  }
  &__list {
    &-check {
      display: flex;
      @media (max-width: 640px) {
        flex-direction: column;
      }
      ul {
        margin: 0;
        @media (min-width: 1024px) {
          width: 50%;
        }
      }
    }
  }
  &__plan {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
    margin-top: 80px;
    .plan-card {
      padding: 0;
      max-width: 100%;
      margin-bottom: 50px;
      max-width: 100%;
      flex: 0 0 100%;
      @media(min-width: 768px){
        flex: 0 0 100%;
        max-width: 50%;
      }
      @media(min-width: 1280px){
        max-width: 33%;
        flex: 0 0 25%;
      }
      &__top {
        padding: 0 42px;
        border-radius: 20px;
        @media(min-width: 1280px){
          padding: 22px;
        }
        @media(min-width: 1440px) {
          padding: 42px;
        }
      }
      &__bottom {
        padding: 0 42px;
        @media(min-width: 1280px){
          padding: 22px;
        }
        @media(min-width: 1440px) {
          padding: 42px;
        }
      }
      @media(min-width: 1280px) {
        &:hover {
          .plan-card__top {
            box-shadow: 0px 0px 48px -12px #DDDDDD;
          }
        }
      }
      &__team {
        background: #e3f3fd;
        padding: 20px;
        border-radius: 25px;
        &-wrapper{
          min-height: 256px;
        }
        h5 {
          margin-bottom: 20px;
        }
        &-list {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            margin-bottom: 10px;
            img {
              margin-right: 10px;
            }
          }
        }
      }
      &__title {
        color: #3e495a;
        font-size: 26px;
        font-weight: 500;
      }
      &__price {
        font-size: 41px;
        margin-top: 12px;
        color: #3e495a;
        small {
          font-size: 16px;
          color: #3e495a;
        }
      }
      &__button {
        display: flex;
        margin-top: 27px;
        justify-content: center;
        .button {
          &:hover {
            color: rgba(255, 255, 255, 0.85);
            background-color: #67cb2a;
            box-shadow: 0px 24px 48px -12px rgba(12, 186, 134, 0.28);
          }
        }
      }
      &__divider {
        margin: 35px 0;
      }
      &__list {
        color: rgba(0, 0, 0, 0.6);
        padding: 0;
        list-style: none;
        &-title {
          font-size: 16px;
          color: #3e495a;
          margin-bottom: 15px;
        }
        &.list-top {
          height: 99px;
          margin-top: 20px;
          li {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            span {
              width: 21px;
              height: 21px;
              background-color: #67cb2a;
              border-radius: 50%;
              color: #fff;
              font-weight: 500;
              padding: 10px;
              margin-right: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        &.list-bottom {
          li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 15px;
            &::before {
              content: "";
              width: 7px;
              height: 7px;
              position: absolute;
              background-color: #7ed34a;
              border-radius: 50%;
              left: 0;
              top: 9px;
            }
          }
        }
      }
    }
  }
}

.anything-else {
  width: 100%;
  @media (min-width: 992px) {
    position: absolute;
    bottom: -250px;
  }
  .general__title {
    margin: 0 auto;
    margin-bottom: 60px;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: #3e495a;
    @media(min-width: 1200px) {
      font-size: 41px;
    }
  }
  &__row {
    background-color: #f8f8f8;
    border-radius: 25px;
    padding: 40px;
    padding-bottom: 200px;
    @media (min-width: 1024px) {
      padding: 40px 100px;
      padding-bottom: 200px;
    }
  }
  &__cta {
    position: relative;
    width: 100%;
    h3 {
      font-weight: bold;
      font-size: 36px;
      color: #fff;
      margin-bottom: 30px;
      text-align: center;
    }
    &-wrapper {
      background: #67cb2a;
      box-shadow: 0px 24px 48px -12px rgba(12, 186, 134, 0.28);
      border-radius: 25px;
      width: 100%;
      padding: 70px 20px;
      position: absolute;
      top: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      &-element {
        position: absolute;
        @media (max-width: 640px) {
          display: none;
        }
        &-left {
          left: 0;
        }
        &-right {
          right: 0;
          top: 0;
          height: 100%;
        }
      }
    }
  }
}

.qna {
  padding-bottom: 80px;
  padding-top: 80px;
  padding-top: 300px;
  @media (min-width: 992px) {
    padding-top: 600px;
  }
  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    @media (min-width: 1024px) {
      max-width: 794px;
    }
  }
  &__cta {
    display: inline-block;
    margin: 0 auto;
    margin-top: 80px;
  }
  .accordion {
    margin-top: 35px;
    border-bottom: 1px solid #ecf0f2;
    &__wrapper {
      padding: 28px 24px;
      border-top: 1px solid #ecf0f2;
    }
    &__heading {
      font-size: 18px;
      margin: 0;
      h5 {
        width: 100%;
        height: 100%;
      }
      button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        color: #3e495a;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        display: flex;
        justify-content: space-between;
        position: relative;
        line-height: 1.5;
        width: 100%;
        span {
          padding-right: 40px;
          @media (min-width: 640px) {
            padding-right: 200px;
          }
        }
        .accordion__icon {
          .icon {
            position: absolute;
            right: 0;
            top: 5px;
            transition: all 100ms ease;
          }
        }
      }
      .accordionIsOpen {
        .icon-plus {
          opacity: 0;
        }
      }
    }
    &__body {
      margin: 0;
      padding-top: 20px;
      color: rgba(0, 0, 0, 0.6);
      @media (min-width: 640px) {
        padding-right: 50px;
      }
    }
  }
}
