@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800&display=swap');

$black:#333;
$blue:#00dee5;
$green:#00ecba;
$orange:#ffcb64;
$pink:#ff48b7;

html,body{
	font-family: 'Poppins', sans-serif;
}

@mixin scrolldown{
	.scrolldown{
        a{
            color: #000;
            text-decoration: none;
            span{
                display: block;
                margin-bottom: 10px;
            }
        }
		.mouse{
			width: 22px;
			height:35px;
			border:1px solid #5e5e5e;
			border-radius:10px;
			position:relative;
			margin-top: 10px;
			.ball{
				position:absolute;
				left:50%;
				transform: translateX(-50%);
				margin-top: 5px;
				width:5px;
				height:10px;
				border-radius:5px;
				background-color:#5e5e5e;
			}
		}
		position:absolute;
		bottom:45px;
		left:50%;
		transform: translateX(-50%);
	}
}
@mixin title{
	.title{
		position:relative;
		h1{
			position:absolute;
			top:50%;
			font-size:5.5em;
			font-weight: 800;
		}
	}
}
.trys-nav{
	width:100%;
	position:fixed;
	z-index: 99999;
	text-align:right;
	transition: all .2s ease;
	padding:{
		top:47px;
		right:170px;
	}
	@media(max-width: 599px){
		padding-right:70px;
	}
	#menucontrol{
		display: none;
		&:checked + .nav-bars{
			.component{
				width:0;
				@mixin before-after{
					margin:0;
					background-color:white;
				}
				&:before{
					@include before-after;
					transform: rotate(45deg);
				}
				&:after{
					@include before-after;
					width:35px;
					transform: rotate(-45deg);
				}
			}
		}	
	}
	.nav-bars{
		width:50px;
		height:50px;
		cursor:pointer;
		position:relative;
		.component{
			transition: all  .2s ease;
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			width:35px;
			height:6px;
			background-color: $blue;
			border-radius: 8px;
			animation-name:before-center;
			animation-duration: 0.5s;
			@mixin before-after{
				content:'';
				transition: all .2s ease;
				height:6px;
				display: block;
				position: absolute;
				background-color: $blue;
				border-radius: 8px;
			}
			&:before{
				@include before-after;
				width:35px;
				margin-top:-12px;
				animation-name:before-center;
				animation-duration: 0.5s;
			}
			&:after{
				width:18px;
				@include before-after;
				margin-top:12px;
				animation-name:after;
				animation-duration: 0.5s;
			}
			@keyframes before-center{
				from{
					width:0px;
				}to{
					width:35px;
				}
			}
			@keyframes after{
				from{
					width:0px;
				}to{
					width:18px;
				}
			}
		}	
	}
}
.sidebar{
	position:fixed;
	transition: all .2s ease;
	right:0;
	top:0;
	width:0px;
	height:100vh;
	background-color:rgba($orange,.7);
	z-index: 99998;
	&.active{
		width:225px;
		@media(max-width: 599px){
			width:100%;
		}
	}
	.link{
		padding: {
			top: 127px;
			left:25px; 
		}
		a{
			color:black;
			cursor: pointer;
			font-weight: bold;
			font-size: 1.4em;
			margin-bottom: 10px;
			text-decoration: none;
			transition: all .2s ease;
			&:hover{
				color:white;
			}
			&.active{
				transform: scale(1.05);
				color:white;
				&:hover{
					color:#fafafa;
				}
			}
		}
	}
	.copyright{
		position:absolute;
		bottom:10px;
		left:10px;
		font-weight: 600;
		font-size: 0.8em;
	}
}
#home{
	width:100%;
	height:110vh;
	transition: all .2s ease;
	background-image:url('../img/_oranamen/4.png'),url('../img/_oranamen/3.png'),url('../img/_oranamen/1.png'),url('../img/_oranamen/2.png');
	background-position:15% 20%,50% 70%, 100% 100%, -15% 90%;
	background-repeat: no-repeat, no-repeat;
	background-size: 50px, 50px, 460px, 400px;
	@media(max-width: 1186px){
		background-position:15% 20%,50% 70%, 120% 100%, -30% 90%;
	}
	@media(max-width: 1009px){
		background-position:15% 20%,-100% -100%, 160% 30%, -30% 90%;
	}
	@media(max-width: 992px){
		background-position:8% 20%,-100% -100%, 160% 30%, -30% 90%;
	}
	@media(max-width: 796px){
		background-position:35% 20%,-100% -100%, 140% 25%, -20% 98%;
		background-size: 50px, 50px, 360px, 300px;
	}
	// @media(max-width: 689px){
	// 	background-position:35% 20%,-100% -100%, 220% 25%, -90% 98%;

	// }
	@media(max-width: 599px){
		background-position:15% 20%,-100% -100%, 155% 20%, -50% 92%;
		background-size: 50px, 50px, 200px, 240px;
		img{
			width:50%;
		}
	}
	@media(max-width: 375px){
		background-size: 50px, 50px, 200px, 160px;
	}
	.wrap-title{
		display: flex;
		justify-content: inline-flex;
		position:absolute;
		top:30%;
		left:18.5%;
		@media(max-width: 992px){
			left:12.5%;
		}
		@media(max-width: 796px){
			left:50%;
			transform: translateX(-50%);
			text-align: center;
			flex-direction: column;
		}
		.title{
			padding-left:40px;
			@media(max-width: 796px){
				padding-left:0px;
				// text-align: center;
			}
			h1{
				font-size: 5em;
				font-weight: bold;
				@media(max-width: 914px){
					span{
						font-size: 0.78em;
					}
				}
				@media(max-width: 796px){
					font-size:3em;
					margin-top:50px;
				}
				@media(max-width: 490px){
					span{
						position:absolute;
						margin-top: -2px;
						width:100%;
						left:0;
						font-size: 0.6em;
					}
				}
			}
		}
	}
	@include scrolldown;
}
#aboutus{
	padding-top: 100px;
	margin-bottom: 50px;
	@include title;
	.title{
		height:300px;
		h1{
			transform: translateY(-50%);
			@media(max-width: 992px){
				left:50%;
				transform: translate(-50%,-50%);
			}
			span{
				color:$green;
			}
		}
	}
	.consisting{
		font-size:1.1em;
		font-weight: 600;
		ul{
			font-size:1.8em;
			padding-left:30px;
		}
	}
	.article{
		line-height: 160%;
		.visi{
			h4{
				font-weight: 600;
			}
			font-weight: 600;
			padding:{
				top:20px;
				left:20px;
				right:20px;
				bottom:10px;
			}
			border:1px solid #e6e6e6;
			margin:{
				top:10px;
				bottom:10px;
			}
		}
	}
}
.quotes{
	width: 100%;
	text-align: center;
	padding:{
		top:80px;
		bottom:80px;
		left:250px;
		right:250px;
	}
	@media(max-width: 992px){
		padding:{
			left:50px;
			right:50px;
		}
	}
	background-image:url('../img/_oranamen/fill-5.png'),url('../img/_oranamen/fill-5.png'),url('../img/_oranamen/group-31.png'),url('../img/_oranamen/group-4.png');
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:12% 75%,12% 78%,92% 40%,5% 20%;
	background-color:#feedb4;
	h3{
		font-weight: 600;
	}
}
#services{
	width:100%;
	margin-top:70px;
	@include title;
	.title{
		padding:{
			bottom:300px;
		}
		h1{
			left:50%;
			transform: translate(-50%,-50%);
			@media(max-width: 992px){
				text-align: center;
			}
			span{
				color:$orange;
			}
		}
	}
	.content{
		padding:0;
		table{
			width: 100%;
			height:700px;
			tr{
				&:first-child{
					td{
						&:first-child{
							text-align: left;
						}
					}
				}
				td{
					img{
						margin-bottom: 10px;
					}
					text-align: center;
					padding:5vw;
					width:50%;
					border:0.5px solid #ccc;
					&:last-child{
						border-right:0.5px solid transparent;
					}
					&:hover{
						span{
							color:$blue;
						}
					}
					span{
						transition: all .2s ease;
						font-weight: 600;
						font-size: 27px;
					}
					ul{
						padding-left:20px;
					}
				}
			}
		}
	}
}
#ourwork{
	width:100%;
	height:100vh;
	margin-top:100px;
	background-image:url('../img/_oranamen/5.png'),url('../img/_oranamen/6.png');
	background-repeat:no-repeat,no-repeat;
	background-position:100% 0%,0% 100%;
	background-size: 400px,850px;
	margin-bottom:200px;
	.container{
		padding-top:160px;
		@include title;
		.title{
			height:300px;
			h1{
				transform: translateY(-50%);
				@media(max-width: 992px){
					left:50%;
					transform: translate(-50%,-50%);
					text-align: center;
				}
				font-size: 3.5em;
				font-weight: 600;
				span{
					font-size: 1.3em;
					font-weight:800; 
					color:$pink;
				}
			}
		}
		.content{
			&:hover{
				h4{
					color:$blue;
				}
			}
			height:260px;
			.wrapimg{
				width:100px;
				height:100px;
				position:relative;
				img{
					position:absolute;
					top:50%;
					left:50%;
					transform: translate(-50%,-50%);
					margin-bottom: 15px;
				}
			}
			h4{
				transition: all .2s ease;
				font-weight: 600;
			}
		}
	}
}
#portfolio{
	margin-top: 80px;
	.title{
		margin-bottom: 60px;
		h1{
			font-weight: 600;
			span{
				color:$blue;
			}
		}
	}
	@mixin column{
		background-repeat:no-repeat;
		width:100%;
		height:425px;
		.cover{
			width: 100%;
			height:100%;
			opacity: 0.9;
			position:absolute;
			top:0;
			left:0;
			z-index:1;
		}		
		.content{
			text-align: center;
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			z-index: 10;
			.btn{
				margin-top: 10px;
				font-weight: 600;
				border-radius:0;
				padding:{
					left:1.8em;
					right:1.8em;
				}
				border:none;
			}
			.btn-orange{
				&:hover{
					background-color:$orange;
				}
			}
			.btn-blue{
				&:hover{
					background-color:$blue;
				}
			}
			h2{
				font-weight: 600;
			}
		}
	}
	.webdev{
		@include column;
		background-image:url('../img/_oranamen/group-23.png');
		background-position:30% 90%;
		.cover{
			background-color:#c4f4d9;
		}
	}
	.contentproduction{
		@include column;
		background-image:url('../img/_oranamen/content-production.png');
		background-size:cover;
		.cover{
			background-color:#feedb4;
		}
	}
}
#contact{
	width:100%;
	margin-top:150px;
	padding-top:50px;
	padding-bottom:200px;
	background-image:url('../img/_oranamen/group-17.png');
	background-repeat:no-repeat;
	background-size:100%;
	background-position:0% 100%;
	.form-control{
		border-radius:0;
	}
	h4{
		font-weight: 600;
	}
	.email{
		h4{
			padding:{
				top:0.5em;
				bottom:0.5em;
			}
		}
	}
	.btn{
		background-color:white;
		border:1px solid #ddd;
		border-radius:0;
		padding:{
			top:0.7em;
			bottom:0.7em;
			left:2.5em;
			right:2.5em;
		}
		&:hover{
			background-color:#ddd;
		}
	}
}


.components{
    position: absolute;
    top :0;
    right: 0;
    bottom: 0;
    left: 0;
}