.button {
  border-radius: 9999px;
  padding: 12px 40px;
  font-weight: bold;
  transition: all 300ms ease;
  @media (max-width: 767px) {
    font-size: 13px;
  }

  &:hover {
    text-decoration: none;
  }

  &__primary {
    background-color: #67cb2a;
    color: #fff;
    &.full {
      padding: 12px 24px;
    }
    &:hover {
      color: #fff;
      background-color: darken($color: #67cb2a, $amount: 2);
    }
  }
  &__primary-light {
    color: #67cb2a;
    background-color: #fff;
    &:hover {
      background-color: darken($color: #fff, $amount: 3);
      color: darken($color: #67cb2a, $amount: 2);
    }
  }
  &__secondary {
    border: 1px solid #67cb2a;
    color: #67cb2a;
    background-color: #fff;
    &:hover {
      border-color: darken($color: #67cb2a, $amount: 2);
      color: darken($color: #67cb2a, $amount: 2);
    }
  }
}


.hero__button {
  @media(max-width: 640px) {
    padding: 12px 20px;
  }
}