.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 55%;
}
.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    // top: 50;
    margin-top: -10px;
    box-shadow: inset 0 0 0 1px #000;
    border-radius: 25px;
}
.icon-scroll:before {
    content: '';
    width: 6px;
    height: 8px;
    background: #000;
    margin-left: -5px;
    top: 8px;
    border-radius: 10px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}
