// Config
@import "modules/config";

// Bootstrap
@import "bootstrap";
@import "node_modules/owl.carousel/src/scss/owl.carousel";
@import "node_modules/owl.carousel/src/scss/owl.theme.default";
@import "node_modules/magnific-popup/src/css/main.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";

// Components
@import "components/header";
@import "components/footer";
@import "components/grid";
@import "components/hero-unit";
@import "components/page-header";
@import "components/skeleton";
@import "components/preloader";

// Pages
@import "pages/landing";