// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-monstserrat: "Montserrat", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #666;

$green-gradient-bg: linear-gradient(229.08deg, #9dcd12 1.93%, #7bcb2a 98.31%);
$blue-gradient-bg: linear-gradient(219.61deg, #147EE3 0%, #2A7ECB 100%);
$red-gradient-bg: linear-gradient(219.61deg, #EF3B2D 0%, #CB342A 100%);
